# Postgres Database
POSTGRES_USER=rfi_user
POSTGRES_PASSWORD=rfi_password
POSTGRES_DB=rfi_db

# MongoDB
MONGO_USER=mongo_admin
MONGO_PASSWORD=mongo_password

# Backend Secrets
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# OAuth2 (Optional for now)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
