.table{
    width:100%;
    border-collapse:collapse;
}

.table th{
    background:#2563eb;
    color:white;
    padding:15px;
}

.table td{
    padding:15px;
    border-bottom:1px solid #e5e7eb;
}

.table tbody tr:hover{
    background:#f3f4f6;
}